@tailwind base;
@tailwind components;
@tailwind utilities;

.h0 {
    font-variation-settings:
    "slnt" 0,
    "wdth" 10.6,
    "GRAD" 0,
    "XTRA" 400,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -103,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}